# Copyright (c) 2025 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.

resources:
  repositories:
    - repository: templates
      type: github
      name: shotgunsoftware/tk-ci-tools
      ref: refs/heads/master
      endpoint: shotgunsoftware
      # Despite using the "tk-" prefix, tk-ci-tools is not a Toolkit only tool.
      # We use it to avoid duplicating and maintaining CI pipeline code.

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
pr:
  branches:
    include:
    - "*"

parameters:
  - name: python_versions
    type: object
    default:
      - '3.9'
      - '3.10'
      - '3.11'

  - name: os_versions
    type: object
    default:
      - name: Linux
        vm_image: ubuntu-latest

      - name: macOS
        vm_image: macOS-latest

      - name: Windows
        vm_image: windows-latest

jobs:
- template: build-pipeline.yml@templates
  parameters:
    # Jira Bridge does not follow the exact same Python version lifecycle than
    # Toolkit. So we prefer to control the test execution here instead.
    has_unit_tests: false

    has_ui_resources: false

- ${{ each os_version in parameters.os_versions }}:
  - ${{ each python_version in parameters.python_versions }}:
    - template: azure-pipelines/tests.yml
      parameters:
        name: "${{ os_version.name }} Python ${{ python_version }}"
        vm_image: ${{ os_version.vm_image }}
        python_version: ${{ python_version }}
