# Copyright (c) 2023 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.

resources:
  repositories:
    - repository: templates
      type: github
      name: shotgunsoftware/tk-ci-tools
      ref: refs/heads/master
      endpoint: shotgunsoftware
      # tk-ci-tools, despites using the tk- prefix, is not a Toolkit only tool
      # that we use to avoid duplicating and maintaining CI pipeline code.

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
pr:
  branches:
    include:
    - "*"

jobs:
- template: build-pipeline.yml@templates
  parameters:
    # Jira Bridge does not follow the exact same Python version lifecycle than
    # Toolkit. So we prefer to control the test execution here instead.
    has_unit_tests: false

    has_ui_resources: false

- template: azure-pipelines/tests.yml
  parameters:
    name: Linux
    vm_image: 'ubuntu-latest'
- template: azure-pipelines/tests.yml
  parameters:
    name: macOS
    vm_image: 'macOS-latest'
- template: azure-pipelines/tests.yml
  parameters:
    name: Windows
    vm_image: 'windows-latest'
