# Copyright (c) 2025 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
pr:
  branches:
    include:
    - "*"

parameters:
  - name: python_versions
    type: object
    default:
      - '3.9'
      - '3.10'
      - '3.11'

  - name: os_versions
    type: object
    default:
      - name: Linux
        vm_image: ubuntu-latest

      - name: macOS
        vm_image: macOS-latest

      - name: Windows
        vm_image: windows-latest

jobs:
- template: azure-pipelines/flake8.yml

- ${{ each os_version in parameters.os_versions }}:
  - ${{ each python_version in parameters.python_versions }}:
    - template: azure-pipelines/tests.yml
      parameters:
        name: "${{ os_version.name }} Python ${{ python_version }}"
        vm_image: ${{ os_version.vm_image }}
        python_version: ${{ python_version }}
