[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "<2.0.0"
sphinx = "*"
sphinx-rtd-theme = "*"
mock = "*"
unittest2 = "*"
unittest-xml-reporting = "*"

[packages]
jira = "==2.0.0"
daemonize = "==2.4.7"
shotgun-api3 = {editable = true,git = "https://github.com/shotgunsoftware/python-api.git",ref = "v3.0.39"}
python-dotenv = "*"

[requires]
python_version = "2.7"
