# Copyright 2018 Autodesk, Inc.  All rights reserved.
#
# Use of this software is subject to the terms of the Autodesk license agreement
# provided at the time of installation or download, or which otherwise accompanies
# this software in either electronic or hard copy form.
#
# List of Python packages needed by this stack
# Python Jira api.
# Our fork provides a few fixes that are not part of the official API. Unfortunately
# contributing back is going to be difficult because Python 2 is not supported anymore.
git+https://github.com/shotgunsoftware/jira.git@2.0.0.sg.1#egg=jira
# Install Shotgun API 3 from archive
https://github.com/shotgunsoftware/python-api/archive/v3.0.39.zip

# Needed to run the Linux service.
daemonize==2.4.7

# Allows defining env vars in a .env file that can be loaded at runtime
python-dotenv==0.10.1