# Copyright 2018 Autodesk, Inc.  All rights reserved.
#
# Use of this software is subject to the terms of the Autodesk license agreement
# provided at the time of installation or download, or which otherwise accompanies
# this software in either electronic or hard copy form.
#


# Shotgun API 3 from Github releases
# Note: It is recommended you replace this version with the latest
#       version release. These can be found at
#       https://github.com/shotgunsoftware/python-api/releases
https://github.com/shotgunsoftware/python-api/archive/v3.0.39.zip

# Allows defining env vars in a .env file that can be loaded at runtime
python-dotenv==0.13.0
#
# List of Python packages needed by the SG Jira Bridge event trigger
#

# Requests
requests==2.21.0
