# Copyright 2018 Autodesk, Inc.  All rights reserved.
#
# Use of this software is subject to the terms of the Autodesk license agreement
# provided at the time of installation or download, or which otherwise accompanies
# this software in either electronic or hard copy form.
#

jobs:

- job: 'Linux_test'
  pool:
    vmImage: 'Ubuntu 16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
    maxParallel: 1

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
      pip install -r tests/requirements.txt
    displayName: 'Install dependencies'

  - script: |
      python tests/run_tests.py test_routing test_service --xmlout test-results
    displayName: 'Test SG Jira'
    env: { 'LANG': 'en_US.UTF-8' }

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'test-results/**.xml'
      testRunTitle: 'Windows Python $(python.version)'
    condition: succeededOrFailed()

- job: 'Windows_test'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
    maxParallel: 1

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
      pip install -r tests/requirements.txt
    displayName: 'Install dependencies'

  - script: |
      python tests/run_tests.py --xmlout test-results
    displayName: 'Test SG Jira'
    env: { 'LANG': 'en_US.UTF-8' }

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'test-results/**.xml'
      testRunTitle: 'Windows Python $(python.version)'
    condition: succeededOrFailed()

- job: 'Mac_test'
  pool:
    vmImage: 'macOS-10.13'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
    maxParallel: 1

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
      pip install -r tests/requirements.txt
    displayName: 'Install dependencies'

  - script: |
      python tests/run_tests.py --xmlout test-results
    displayName: 'Test SG Jira'
    env: { 'LANG': 'en_US.UTF-8' }

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'test-results/**.xml'
      testRunTitle: 'Windows Python $(python.version)'
    condition: succeededOrFailed()

