# Copyright 2025 Autodesk, Inc.  All rights reserved.
#
# Use of this software is subject to the terms of the Autodesk license agreement
# provided at the time of installation or download, or which otherwise accompanies
# this software in either electronic or hard copy form.

# This is the list of parameters for this template and their default values.

parameters:
  os_name: ''
  vm_image: ''
  python_version: ''

jobs:
- job:
  displayName: "${{ parameters.os_name }} Python ${{ parameters.python_version }}"
  pool:
    vmImage: ${{ parameters.vm_image }}

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: ${{ parameters.python_version }}

  - task: Bash@3
    displayName: Install dependencies
    inputs:
      targetType: inline
      script: |
        pip install --upgrade pip
        pip install --upgrade \
          --requirement requirements.txt \
          --requirement tests/requirements.txt

  - task: Bash@3
    displayName: Run tests
    env:
      LANG: en_US.UTF-8
    inputs:
      targetType: inline
      script: python tests/run_tests.py --xmlout test-results

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'test-results/**.xml'
      testRunTitle: "${{ parameters.os_name }} Python ${{ parameters.python_version }}"
    condition: succeededOrFailed()
